
<div id='encabezado'>
  <button class='encabezadoItems' mat-raised-button color="primary" (click)="openNuevoCliente()"><mat-icon>add</mat-icon> Nuevo cliente </button>
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Cedula </th>
      <td mat-cell *matCellDef="let element"> {{element.id_cliente}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="atv">
      <th mat-header-cell *matHeaderCellDef> ATV </th>
      <td mat-cell *matCellDef="let element"> {{element.atv}} </td>
    </ng-container>

    <ng-container matColumnDef="tiv">
      <th mat-header-cell *matHeaderCellDef> TIV </th>
      <td mat-cell *matCellDef="let element" > 
        <table *ngIf = "element.tipo == 1">
          <tr>
            <td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td>
            <td>H</td><td>I</td><td>J</td><td>K</td><td>L</td><td>M</td><td>N</td><td>O</td>
          </tr>

          <tr>
            <td>{{element.tiv[0]}}</td><td>{{element.tiv[1]}}</td><td>{{element.tiv[2]}}</td><td>{{element.tiv[3]}}</td>
            <td>{{element.tiv[4]}}</td><td>{{element.tiv[5]}}</td><td>{{element.tiv[6]}}</td><td>{{element.tiv[7]}}</td>
            <td>{{element.tiv[8]}}</td><td>{{element.tiv[9]}}</td><td>{{element.tiv[10]}}</td><td>{{element.tiv[11]}}</td>
            <td>{{element.tiv[12]}}</td><td>{{element.tiv[13]}}</td><td>{{element.tiv[14]}}</td>
          </tr>
        </table>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>

    <ng-container matColumnDef="contra">
      <th mat-header-cell *matHeaderCellDef> Contraseña </th>
      <td mat-cell *matCellDef="let element"> {{element.contra}} </td>
    </ng-container>

    <ng-container matColumnDef="nacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.nacimiento}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cedulafecha">
      <th mat-header-cell *matHeaderCellDef> Vencimiento Cedula </th>
      <td mat-cell *matCellDef="let element"> {{element.cedulafecha}} </td>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="openVerInfo(element)"><mat-icon>read_more</mat-icon></button>
        <button mat-icon-button (click)="openEditarCliente(element)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="openEditarTiv(element)" *ngIf = "element.tipo == 1"><mat-icon>dashboard_customize</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>