.example-container {
  height: 510px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
}

#encabezado{
  display: flex;
}

.encabezadoItems{
  margin: 1%;
  height: 10%;
}

