<div>
    <h3> Editar {{data.cliente.id_cliente}}</h3>
</div>
<div id = 'container'>
    <div>
        
        <mat-form-field class='input' appearance="outline" *ngIf = "data.cliente.tipo == 0">
            <mat-label>Representante legal</mat-label>
            <mat-select required [(ngModel)]="representante_legal" name="representante_legal">
                <mat-option *ngFor="let element of representantes" [value] = "element.id_cliente"> {{element.nombre}} </mat-option>
            </mat-select>
        </mat-form-field><br>

        <mat-form-field class='input' appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput required [(ngModel)]='nombre' name = nombre>
        </mat-form-field>
    
        <mat-form-field class='input' appearance="outline" *ngIf = "data.cliente.tipo == 1">
            <mat-label>ATV</mat-label>
            <input matInput [(ngModel)]='atv' name = atv >
        </mat-form-field>    
    
        <mat-form-field class='input' appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput [(ngModel)]='email' name = email>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]='correo_contra' name = correo_contra>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline" *ngIf = "data.cliente.tipo == 1">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [(ngModel)]='fecha_nacimiento' name = fecha_nacimiento>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline" *ngIf = "data.cliente.tipo == 1">
            <mat-label>Vencimiento cedula</mat-label>
            <input matInput [(ngModel)]='fecha_vencimiento' name = fecha_vencimiento>
        </mat-form-field>
        
    </div>
    <div>
        <mat-form-field class='input' appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput [(ngModel)]='numero' name = numero>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>Situación tributaria</mat-label>
            <mat-select required [(ngModel)]='estado' name = estado>
                <mat-option [value]=0>Tradicional</mat-option>
                <mat-option [value]=1>Simplificado</mat-option>
                <mat-option [value]=2>REA</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class='input' appearance="outline">
            <mat-label>Facturador</mat-label>
            <input matInput value = {{data.cliente.nombre_fact}} required [(ngModel)]='nombre_fact' name = nombre_fact>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>Usuario facturador</mat-label>
            <input matInput value = {{data.cliente.usuario}} required [(ngModel)]='usuario' name = usuario>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>Contraseña facturador</mat-label>
            <input matInput value = {{data.cliente.facturador_contra}} required [(ngModel)]='facturador_contra' name = facturador_contra>
        </mat-form-field>

        <button mat-raised-button id ="button1" (click)="yes()">Confirmar</button>
        <button mat-raised-button id ="button2" (click)="no()">Cancelar</button>
    </div>
</div>




