#button1{
    margin-top: 1%;
    background: #4caf50;
    color: white; 
    margin-left: 3%;
}

#button2{
    background: #e74141;
    color: white;
    margin-left: 1%;
}

.input {
    margin-bottom: 1%;
    margin-right: 1;
    max-height: 63px;
    width: 100%;
}

#container{
    display: flex;
}