#button1{
    background: #4caf50;
    color: white; 
    margin-left: 3%;
}

#button2{
    background: #e74141;
    color: white;
    margin-left: 3%;
}

.input {
    max-height: 63px;
    width: 100%;
}

#container{
    display: flex;
}