<div>
    <h3> {{data.cliente.nombre}} </h3>
</div>
<div id = 'container'>
    <div>
        <mat-form-field class='input' appearance="outline"  *ngIf = "data.cliente.representante_legal != null">
            <mat-label>Representante legal</mat-label>
            <input matInput readonly="readonly" value = {{nombre}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline"  *ngIf = "data.cliente.email != null">
            <mat-label>Correo</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.email}}>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline" *ngIf = "data.cliente.correo_contra != null">
            <mat-label>Contraseña</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.correo_contra}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline" *ngIf = "data.cliente.fecha_nacimiento != null">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.fecha_nacimiento}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline" *ngIf = "data.cliente.fecha_vencimiento != null">
            <mat-label>Vencimiento cedula</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.fecha_vencimiento}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline"  *ngIf = "data.cliente.numero != null">
            <mat-label>Telefono</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.numero}}>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class='input' appearance="outline">
            <mat-label>Persona</mat-label>
            <input matInput readonly="readonly" value = {{tipo}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline">
            <mat-label>Situación tributaria</mat-label>
            <input matInput readonly="readonly" value = {{estado}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline"  *ngIf = "data.cliente.nombre_fact != null">
            <mat-label>Facturador</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.nombre_fact}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline"  *ngIf = "data.cliente.usuario != null">
            <mat-label>Usuario facturador</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.usuario}}>
        </mat-form-field>

        <mat-form-field class='input' appearance="outline"  *ngIf = "data.cliente.facturador_contra != null">
            <mat-label>Contraseña facturador</mat-label>
            <input matInput readonly="readonly" value = {{data.cliente.facturador_contra}}>
        </mat-form-field>

        <button mat-raised-button id ="button1" (click)="yes()">Cerrar</button>
    </div>
</div>