<div>
    <h3> Editar TIV {{data.cliente.name}} </h3>
</div>
<div id = 'container'>
    <div>
        <mat-form-field class='input' appearance="outline">
            <mat-label>A</mat-label>
            <input matInput required [(ngModel)]='t1' name = t1>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>B</mat-label>
            <input matInput required [(ngModel)]='t2' name = t2>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>C</mat-label>
            <input matInput required [(ngModel)]='t3' name = t3>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>D</mat-label>
            <input matInput required [(ngModel)]='t4' name = t4>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>E</mat-label>
            <input matInput required [(ngModel)]='t5' name = t5>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>F</mat-label>
            <input matInput required [(ngModel)]='t6' name = t6>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>G</mat-label>
            <input matInput required [(ngModel)]='t7' name = t7>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>H</mat-label>
            <input matInput required [(ngModel)]='t8' name = t8>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>I</mat-label>
            <input matInput required [(ngModel)]='t9' name = t9>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>J</mat-label>
            <input matInput required [(ngModel)]='t10' name = t10>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>K</mat-label>
            <input matInput required [(ngModel)]='t11' name = t11>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>L</mat-label>
            <input matInput required [(ngModel)]='t12' name = t12>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>M</mat-label>
            <input matInput required [(ngModel)]='t13' name = t13>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>N</mat-label>
            <input matInput required [(ngModel)]='t14' name = t14>
        </mat-form-field>
        <mat-form-field class='input' appearance="outline">
            <mat-label>O</mat-label>
            <input matInput required [(ngModel)]='t15' name = t15>
        </mat-form-field>
        <button mat-raised-button id ="button1" (click)="yes()">Confirmar</button>
        <button mat-raised-button id ="button2" (click)="no()">Cancelar</button>
    </div>
</div>




