#button1{
    margin-top: 1%;
    background: #4caf50;
    color: white; 
    margin-left: 3%;
    margin-top: 3%;
}

#button2{
    background: #e74141;
    color: white;
    margin-left: 1%;
    margin-top: 3%;
}

.input {
    margin-right: 1%;
    max-height: 5px;
    max-width: 50px;
}