<div class="main-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <div>
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="title">C&B Contabilidad</h1>
        </div>
        <ng-container *ngIf="mobileQuery.matches;"></ng-container>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <ng-container *ngIf="!mobileQuery.matches;"></ng-container>
            <div class="nav-container">
                <mat-divider></mat-divider>
                <mat-nav-list>
                    <a mat-list-item *ngFor="let item of items" [routerLink]="item.route" routerLinkActive="active">
                        <mat-icon>{{item.icon}}</mat-icon>
                        <span>{{item.name}}</span>
                    </a>
                </mat-nav-list>
            </div>
            <mat-divider></mat-divider>
            <div class="about-container">
                <a>Yuliana Rojas Serrano</a>
                <a></a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="main">
            <div>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
