/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
    --primary: #1a237e;
    --accent: #ff4081;
    --warn: #f44336
}